
/***** Global *****/ /* Body */
body {
	background: #F5F4EF url('../img/bg.png');
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
		'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

.body {
	clear: both;
	margin: auto;
	width: 1100px;
	padding: 10px;
	background: #fff;
    margin-top:2em;
	overflow: hidden;
	width: 1100px;
    border: 1px solid #eee;
}

h1 {
    font-size:50px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Palladio, "URW Palladio L", "Book Antiqua", Georgia, serif;
    text-shadow: 0px 0px 2px #111, 3px 3px 1px #888;
    letter-spacing:1px;
    margin-top:5px;
}

#banner div{
	height: 85px;
	background: #EEE url('../img/Turing.png') no-repeat;
	width: 850px;
	padding-left: 260px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}


.input_big, .input_medium, .input_small{
	border: 1px solid #aaa;
	background-color: #f0f6f3;
	float: left;
	margin: 0px;
}

.input_small {
	width: 50px;
}

.input_medium {
	width: 80px;
}

.input_big {
	width: 140px;
}


thead td {
	font-size: 0.95em;
	text-align: left;
	padding-bottom: 1em;
}

tbody td {
	margin: 0px;
	padding: 0px;
}


.calc_table{
	border-top: 1px solid #222;
	margin: 0px;
}
.buildings_table_element{
	border: 1px solid #cdf;
	padding: 5px;
	width: 140px;
	height: 140px;
	text-align: center;
	border-spacing: 10px;
	border-radius: 7px;
}
.buildings_table_element:hover{
	background-color: #e3eae6;
}
.holder {
	padding: 10px;
	margin: 10px;
	border: 1px solid #999;
	font-size: .80em
}

.alt {
	background-color: #e3eae6;
}

.centerText{
	text-align: center;
}

#SelectedBuildingHolder{
	width: 300px;
	border: 1px solid #cdf;
	padding: 15px;
	border-spacing: 10px;
	border-radius: 7px;
}

.selectBuilding{
	width: 260px;
}

.graph{
	float: left;
	text-align: center;
	margin: 10px;
	border: 1px solid #cdf;
	padding: 15px;
	border-spacing: 10px;
	border-radius: 7px;
}

.saveForm{
	float: right;
	margin: 3px 10px;
}








.pane {
  background: #bbb;
  font-size: 1.143em;
  line-height: 30px;
  min-height:450px;
  margin: 0 auto 2em auto;
  padding: 10px;
  width: 1100px;
  border: 1px solid #888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display:none;
}
.visiblepane {
  display:block !important;
}

#final_states{
	width:350px ! important; 
}
#settings select {
	width: 150px;
	
}
#list_instruction_table td {
	width:150px;

}
#remove_instruction{
	width:50px ! important;
}

#settings td, #settings th{
	padding:10px 16px;
}

#input select,#input2 select{
	width:50px;
}

.fl {
	float: left;
}
.cb {
	clear: both;
}

/*#banner nav {
  background: #aaa;
  font-size: 1.143em;
  height: 40px;
  line-height: 30px;
  margin: 0 auto 2em auto;
  padding: 0;
  text-align: center;
  width: 1100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* Main Nav */
#banner nav {
    font-weight: bold;
    border: 1px solid #999;
	background: #bbb;
	font-size: 1.143em;
	height: 30px;
	line-height: 20px;
    margin: 0 auto 1em auto;
	padding: 0;
	text-align: left;
	width: 1090px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#banner nav ul {
  list-style: none;
  margin: 0 auto;
  width: 1100px;
}

#banner nav li {
  float: left;
  display: inline;
  margin: 0;
}

#banner nav a:link,#banner nav a:visited {
  color: rgb(0, 115, 234);
  text-shadow: 0 0 2px #FFF;
  display: inline-block;
  height: 30px;
  padding: 5px 1.5em;
  text-decoration: none;
}
nav .selectednav {
  color: rgb(255, 0, 132) !important;
}

#banner nav a:hover,#banner nav a:active,#banner nav .active a:link,#banner nav .active a:visited
  {
  background: #999;
  color: #fff;
  text-shadow: none !important;
}

#banner nav li:first-child a {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#banner nav img {
  width:20px;
  margin-right:5px;
}








