@CHARSET "UTF-8";

.slider{
	margin: 10px 10px 4px 15px;
	width: 120px;
	float: left;
}

.sliderDim{
	margin: 10px 10px 4px 15px;
	width: 60px;
	float: left;
}

.sliderContainer{
	height: 36px;
}

.sliderContainer span{
	height: 36px;
	padding: 7px 0px 0px 15px;
	vertical-align: middle;
}

.turingCodeEditor {
	border: solid 1px #222;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius : 5px;
	background-color: #ffaacc;
	color: #412;
	width: 250px;
	height: 500px;
	padding: 10px;
	font-family: monospace;
	line-height: 1.4em;
}
